<ion-app>
  <ion-tab-bar>
    <ion-row>
      <ion-item>
        <ion-button color="success">Salas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="carregarRanking()">Ranking</ion-button>
        
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="sobreNos()">Sobre Nós</ion-button>
        
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="goToRules()">Regras</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="botao1()">{{nameb1}}</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="botao2()">{{nameb2}}</ion-button>
      </ion-item>
    </ion-row>
  </ion-tab-bar>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
