<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-item>
          <ion-button color="success">Salas</ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="irLogin()">Logar</ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="irCadastrar()">Cadastrar</ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="exibirRegras()">Regras</ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="carregarRanking">Ranking</ion-button>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="sobreNós">Sobre Nós</ion-button>
        </ion-item>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
</ion-content>
