<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 1</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 2</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 3</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 4</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 5</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 6</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 7</ion-button>
    <ion-button class="btn" expand="block" color="success" (click)="goToRoom()">Sala 8</ion-button>
   </ion-list>
</ion-content>
