<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nós</ion-title>
    <ion-buttons slot="end">
      <ion-back-button slop="end" defaultHref="" (click)="dimiss()" icon="chevron-down-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Este projeto foi desenvolvido pelos alunos de Ciência da Computação da Universidade
          estadual do Centro Oeste - UNICENTRO.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Paulo Silvério responsável pela inteligencia artificial.
        </ion-label>
      </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Rafael Carriel de Oliveira responsável pelo frontEnd e banco de dados do projeto. 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Eric Patrick Militão responsável pelo backend e front end do projeto.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
