<ion-header>
  <ion-toolbar>
    <ion-title color="success">Ranking</ion-title>
    <ion-buttons slot="end">
      <ion-back-button slop="end" defaultHref="" (click)="dimiss()" icon="chevron-down-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item>
        <ion-label>{{user.nick}}</ion-label>
        <ion-label>partidas ganhas: {{user.gameswin}}</ion-label>
        <ion-label>Palpites corretos: {{user.palpitesfeitos}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
